//  Variables

// ============= Colors

$dark-blue: #1e3a5f;
$light-blue: #9acde8;
$lightest-blue: #f9fbfe;
$slate: #45555f;

// ============= Palette

$primary-color: $lightest-blue;
$secondary-color: $dark-blue;
$text-color: $slate;
