.page {
  margin: 0 auto;
}

.centered-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.inline-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  :last-child {
    text-align: right;
  }
}

p {
  font-size: 14px;
  margin: 0;
  text-align: justify;
}
